.crosshair {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100vw;
  height: 100vh;
}
.crosshair div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
